<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartPlayDS Twitter Wall Moderator</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://bootswatch.com/cerulean/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--<script type="text/javascript">
        $(document).ready(function(){
            $(document).on("click", "button.btn-danger" , function() {
                $(this).parent().remove();
            });
        });
    </script>-->
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SmartPlayDS Twitter Wall Moderator</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
                <li><a href="#">Link</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                        <li class="divider"></li>
                        <li><a href="#">One more separated link</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input class="form-control" placeholder="Search" type="text">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Link</a></li>
            </ul>
        </div>
    </div>
</nav>
    <ul class="tweets"></ul>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io.connect();
        jQuery(function ($) {
            var tweet_list = $('ul.tweets');
            socket.on('tweet', function (tweet){
                tweet_list
                        .prepend('<ul class="tweet"><li class="tweet_user">' + tweet.user + '</li><div class="tweet_text">"' + tweet.text + '</div><div class="tweet_user_img" style="display: none;">' + tweet.user_img + '</div>'+ '<button type="button" class="btn btn-success"> ' +
                        '<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>Accept</button>'+ '<button type="button" class="btn btn-danger"> ' +
                        '<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Remove</button></div>');
            });
        });
        $(document).ready(function(){
            $(document).on("click", "button.btn-success" , function() {
                console.log($(this).parent().find('li.tweet_user').text());
                socket.emit('wall', {user: $(this).parent().find('li.tweet_user').text(),
                                    text: $(this).parent().find('div.tweet_text').text(),
                                    user_img: $(this).parent().find('div.tweet_user_img').text()} );
                $(this).parent().remove();
            });
            $(document).on("click", "button.btn-danger" , function() {
                $(this).parent().remove();
            });
        });

    </script>
</body>
</html>